body{
	height: 100%;
	width:100%;
}
.table-wrapper{
	height:600px;
	width:100%;
	background-color: green;
	border-radius: 6px;
	padding:10px;
	position: relative;
}
#dealer-win-loss{
	background-color: red;
	color:white;
	width: 125px;
	height: 25px;
	margin:30px auto;
	padding-top: 10px;
	text-align: center;
	border-radius: 2px;
	position: absolute;
	top:0%;
	left:33%;
}
#dealer-win-count{
	float: right;
	margin-right: 20px;
	text-align: center;
}
#player-win-loss{
	background-color: red;
	color:white;
	width: 125px;
	height: 25px;
	margin:30px auto;
	padding-top: 10px;
	text-align: center;
	border-radius: 2px;
	position: absolute;
	top:0%;
	left:58%;
}
#player-win-count{
	float: right;
	margin-right: 20px;
	text-align: center;
}

#dollars-bet{
	background-color: red;
	color:white;
	width: 125px;
	height: 25px;
	margin:30px auto;
	padding-top: 10px;
	text-align: center;
	border-radius: 2px;
	position: absolute;
	top:39%;
	left:23%;
}
#dollars-bet-count{
	float: right;
	margin-right: 20px;
	text-align: center;
}


#dealer-dollar{
	background-color: red;
	color:white;
	width: 125px;
	height: 25px;
	margin:30px auto;
	padding-top: 10px;
	text-align: center;
	border-radius: 2px;
	position: absolute;
	top:39%;
	left:46%;
}
#dealer-dollar-win-count{
	float: right;
	margin-right: 20px;
	text-align: center;
}
#player-dollar{
	background-color: red;
	color:white;
	width: 125px;
	height: 25px;
	margin:30px auto;
	padding-top: 10px;
	text-align: center;
	border-radius: 2px;
	position: absolute;
	top:39%;
	left:68%;
}
#player-dollar-win-count{
	float: right;
	margin-right: 20px;
	text-align: center;
}
.card{
	height:150px;
	width: 100px;
	background-color: white;
	text-align: center;
	margin: 20px;
	border-radius: 3px;
	position: absolute;
}
.card.empty{
	height:150px;
	width: 100px;
	background: url("cardback.jpg");
	background-size: cover;
	background-color: #ccc;
	text-align: center;
	margin: 20px;
	border-radius: 3px;
	position: absolute;
	border: 2px dashed black;
}
#player-card-one{	
	top:50%;
	left:15%;

}
#player-card-two{		
	top:50%;
	left:27%;
}
#player-card-three{		
	top:50%;
	left:39%;
}
#player-card-four{		
	top:50%;
	left:51%;
}
#player-card-five{		
	top:50%;
	left:63%;
}
#player-card-six{		
	top:50%;
	left:75%;
}
#dealer-card-one{
	top:10%;
	left:15%;
}
#dealer-card-two{
	top:10%;
	left:27%;
}
#dealer-card-three{
	top:10%;
	left:39%;
}
#dealer-card-four{
	top:10%;
	left:51%;
}
#dealer-card-five{
	top:10%;
	left:63%;
}
#dealer-card-six{
	top:10%;
	left:75%;
}
button{
	width:100px;
	height:25px;
	margin-left:9%;
	border-radius: 2px;	
}
button:hover{
	background-color: gray;
}
#play-buttons{
	width: 100%;
	position: absolute;
	top:83%;
	left:0%;
	margin-left: 20%;	
}
#place-bets{
	width: 100%;
	position: absolute;
	top:93%;
	left:0%;
	margin-left: 10%;	
}
#dealer-total-wrapper{
	position: absolute;
	top:15%;
	left:1%;
	text-align: center;
	color:white;
	font-size: 1.2em;
	padding-left: 25px;
	padding-top: 50px;
}
#player-total-wrapper{
	position:absolute;
	top:55%;
	left:1%;
	text-align: center;
	color:white;
	font-size: 1.2em;
	padding-left: 25px;
	padding-top:50px;
}
#message{
	background-color: red;
	color: white;
	text-align: center;
}