body{
	height: 100%;
	width:100%;
}
.table-wrapper{
	height:600px;
	width:100%;
	background-color: green;
	border-radius: 6px;
	padding:10px;
	position: relative;
}
#dealer-win-loss{
	position: absolute;
	top:0;
	left: 50%;
	background-color: red;
	color:white;
	width: 100px;
	height: 25px;
	margin:30px auto;
	padding-top: 10px;
	text-align: center;
	border-radius: 2px;
	margin: auto;
}
#player-win-loss{
	background-color: red;
	color:white;
	width: 100px;
	height: 25px;
	margin:30px auto;
	padding-top: 10px;
	text-align: center;
	border-radius: 2px;
}
.card{
	height:150px;
	min-width: 100px;
	background-color: #ccc;
	float:left;
	text-align: center;
	margin: 20px;
	border-radius: 3px;
	border:3px dashed black;	
}
#player-card-one{		
	margin-left: 10%;	
}
#dealer-card-one{
	margin-left: 10%;
}
button{
	width:100px;
	height:25px;
	margin-left: 20%;	
}
#play-buttons{
	width: 100%;
	float:right;
	clear:both;
	margin-top: 5%;
	margin-left: 20%;
	display: inline-block;
}
#dealer-total-wrapper{
	float: left;
	text-align: center;
	color:white;
	font-size: 20px;
	padding-left: 25px;
	padding-top: 50px;
}
#player-total-wrapper{
	float:left;
	clear:both;
	text-align: center;
	color:white;
	font-size: 20px;
	padding-left: 25px;
	padding-top:50px;
}